<% content_for :artist do %>Bands<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Welcome Artist!" data-moreinfo="Lets match you up!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Bands interested in you" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Hot Lyrics" data-moreinfo="# of times lyrics mentioned on Rdio "></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Streaming Revenue" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="Your Twitter Following" style="background-color:#4099FF;" data-moreinfo="Tweets tagged with #SeekingArtists!" </div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>

   <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #sxswhackathon"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

</div>
