<% content_for :bands do %>Bands<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="Band Dashboard" data-moreinfo="Lets see who you are match up today"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Artist Interested in You" data-min="0" data-max="100"></div>
    </li>


     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#4099FF;" data-title="Your Twitter Following" data-moreinfo="Tweets tagged with #yourband" </div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Rdio Profile Views" style="background-color:#008fd5"></div>
    </li>
  </ul>

</div>
